/*UNIVERSAL*/
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    box-sizing: border-box;
  }

/*ELEMENTS*/
html, body {
    height: 100%;
}

header {
    padding-top: 5px;
    padding-bottom: 5px;
}

header h1 {
    margin-left: 50px;
    padding-top: 5px;
    color: linen;
    font-family: 'Oswald', sans-serif;
}

nav {
    margin-top: 10px;
    margin-right: 50px;
    padding: 5px;
}

nav ul li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

nav ul li a {
    color: linen;
    text-decoration: none;
}

nav ul li a:hover {
    transform: scale(1.2);
}

i {
    padding-left: 10px;
    padding-right: 10px;
}

/*CLASSES*/
.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #595959;
}

.flex-bottom {
    flex: 10;
    overflow-y: scroll;
    flex-direction: column;
    display: flex;
    padding-top: 20px;
    background-color: linen;
    color: #040404;
}

.flex-main {
    flex: 10;
}

.flex-foot {
    flex: 1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.headline {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.info p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.projects {
    text-align: center;
}

.projects h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
}

.projects p {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 640px;
}

.projects .tools {
    text-align: center;
}

.project-img {
    margin-top: 20px;
    border: 2px solid #595959;
    border-radius: 30px;
    width: 55%;
}

.project-nav {
    margin-top: 20px;
}

.project-nav li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.project-nav li a {
    color: #040404;
    text-decoration: none;
}

.project-nav li a:hover {
    transform: scale(1.1);
}

.tools {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*MEDIA QUERIES*/
@media (max-width: 845px) {
    .flex-top {
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        margin-left: 0;
    }

    nav {
        margin-top: 5px;
        margin-right: 0;
    }

    .project-img {
        width: 90%;
    }
}